[Desktop Entry]
Encoding=UTF-8
Name=OSCoin
Comment=OSCoin P2P Cryptocurrency
Comment[fr]=OSCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=OSCoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/oscoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/oscoin;
Categories=Office;
